<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new company</title>
</head>
<body>

<h1>Create a new company</h1>

<form th:action="@{/company/new}" method="post" th:object="${company}" >
    <input type="hidden" th:field="*{companyId}">

    <table>
        <tr>
            <td><label for="companyNameField">Company Name</label></td>
            <td><label for="locationField"> Location </label></td>
            <td><label for="employeeField"> Employees </label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="companyNameField" th:field="*{companyName}" />
            </td>
            <td>
                <input type="text" id="locationField" th:field="*{location}" />
            </td>
            <td>
                <select id="employeeField" th:field="*{employees}" multiple >
                    <option th:each="employee : ${allEmployees}"
                            th:value="${employee.employeeId}"
                            th:text="${employee.displayName}">
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" value="Save Company">
</form>

</body>
</html>