<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview all of company</title>
</head>
<body>
<h1>Overview all of company</h1>
<table>
    <tr>
        <th>CompanyId</th>
        <th>CompanyName</th>
        <th>Location</th>
        <th>Available Airplanes</th>
        <th>Flight</th>


    </tr>
    <tr th:each="company : ${allCompanies}">
        <td th:text="${company.companyId}"></td>
        <td th:text="${company.companyName}"></td>
        <td th:text="${company.location}"></td>
        <td th:text="${company.getNumberOfAvailableAirplanes()}"></td>
        <td><a th:href="@{/airplane/new/{companyId}(companyId=${company.companyId})}">Flights of airplane</a></td>
    </tr>
</table>

</body>
</html>