<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Overview</title>
</head>
<body>
<h1>Overview all of employees</h1>
<table>
    <tr>
        <th>FirstName</th>
        <th>InfixName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="employee : ${allEmployees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.infixName}"></td>
        <td th:text="${employee.lastName}"></td>
    </tr>

    <form th:action="@{/employee/new}" method="post" th:object="${newEmployee}">
        <tr>
            <td><input type="text" th:field="*{firstName}" /></td>
            <td><input type="text" th:field="*{infixName}" /></td>
            <td><input type="text" th:field="*{lastName}" /></td>
            <td><input type="submit" value="Save new Employee"></td>
        </tr>
    </form>
</table>

</body>
</html>